# Specify your website URL
# APP_SITE=https://aadishcounter.vercel.app

# Application port
APP_PORT=3000

# Log level: either 'debug' | 'info' | 'warn' | 'error' | 'none'
LOG_LEVEL=debug

# Google Analytics `G-Tag` ID
# GA_ID=G-XXXX

# Upstash Redis for Counter storage
UPSTASH_REDIS_REST_URL=https://your-upstash-url.upstash.io
UPSTASH_REDIS_REST_TOKEN=your-token-here
